<!DOCTYPE html>
<head>
	<title>William</title>
	<meta charset="UTF-8">
</head>

<body>
	<div>
		<h1>
			William Wang
		</h1>
		<p>
			My Favourite color is Red
		</p>
		<p class="red-text">
			This shade of red
		</p>
		<p>
			My Favourite picture is this doge. Much wow
		</p>
		<marquee behavior="alternate" scrolldelay="20" truespeed>
			<img src="http://i0.kym-cdn.com/entries/icons/mobile/000/013/564/doge.jpg" alt="Doge">
		</marquee>
	</div>
</body>

<style type="text/css">
	p{
		color: red;
	}
</style>